%table#deposits_table
  %tr
    %th Amount
    %th Date
    %th Note
    -@deposits.each do |deposit|
      %tr
        %td= number_to_currency(deposit.amount)
        %td= deposit.tdate
        %td= deposit.notes