%table#withdrawals_table
  %tr
    %th Amount
    %th Date
    %th Note
    -@withdrawals.each do |withdrawal|
      %tr
        %td= number_to_currency(withdrawal.amount)
        %td= withdrawal.tdate
        %td= withdrawal.notes