#login-form
.galaxy
  .row.cell-block
    .large-6.columns.large-centered
      %h1{ :class => 'hero' } <span>Checkmate</span>
      %h3{ :style => 'text-align: center; padding-bottom: 30px;'} Checkmate makes it easier to track and manage your accounts.
.row
  .large-12.columns
    .bank-navigation
      = render partial: 'banks/banks'
%script
  = "$('.galaxy').height( $(window).height() - 45 );" if @auth.nil?