#login-form

.row
  .small-12.columns
    %h1 Welcome to Bankr!
.row
  .small-8.small-centered.columns
    = link_to('New Bank', new_bank_path, :remote => true, :class => 'button tiny')
    = link_to('Transfer', transfer_banks_path, :remote => true, :class => 'button tiny')
    #bankform
    #banks
      = render :partial => "banks/banks"
    #transfer_form

