<<<<<<< HEAD
#login-form

.row
  .large-12.columns
=======
= link_to('New Bank', new_bank_path, :remote => true, :class => 'button tiny')
#bankform
#banks
>>>>>>> ec505f85937e655a6d198d2ec777f1107654ed22
